/** @file mvas_main_window.css
 *  @brief Contains the graphics aspect of the main window
 *  @author Baptiste DRAPEAUD
 *  @date 21 february 2019
 *  @version 0.1
 **/

QPushButton
{
    background-color: #1C1C1C;
    font-family: Open;
    font-size: 15px;
    color: #F4F7F5;
}
QPushButton:pressed
{
    background-color: #FF0000;
    font-family: Open;
    font-size: 15px;
    color: #F4F7F5;
    min-width: 30px;
}

QToolButton
{
    background-color: #1C1C1C;
    font-family: Open;
    font-size: 10px;
    font: bold;
    color: #BF0006;
}

QMenuBar
{
    background-color: #B00006;
    font-family: Open;
    font-size: 15px;
    font: italic bold;
    color: #DDDDDD;
    border: none;
}
QMenuBar::item
{
}
QMenuBar::item:selected
{
    background-color: #C0C0C0;
    color: black;
    border-radius: 5px;
}

QGroupBox
{
    border: 3px solid grey;
    border-radius: 5px;
    color: #F0F0F0;
    font: bold;
    font-size: 12px;
    font-family: Open;
    margin-top: 1ex; /* leave space at the top for the title */
}

QLabel
{
    font-family: Open;
    font-size: 20px;
    color: #F4F7F5;
}

QSlider::handle:vertical
{
    background: #ED1C24;
    border: 5px solid #BF0006;
    border-radius: 30px;
    height: 10px;
    margin: 0 -30px;
}
QSlider::groove:vertical
{
    border: 1px solid #262626;
    width: 10px;
    background: #393939;
    margin: 0 12px;
}
